@model HappyFunLink.Models.Admin.AdminModel 

@{
    ViewBag.Title = "Admin Page";
}

<div class="centeredDiv">
    <h2>Happy Fun Admin!</h2>



<h3>Add a new User</h3>
@using(Html.BeginForm("AddAdministrator", "Admin", FormMethod.Post)){
    <div class="inputDiv">
        @Html.LabelFor(x => x.NewUser.FirstName)
        @Html.TextBoxFor(x => x.NewUser.FirstName)
    </div>
    <div class="inputDiv">
    @Html.LabelFor(x => x.NewUser.LastName)
    @Html.TextBoxFor(x => x.NewUser.LastName)
        </div>
    <div class="inputDiv">
    @Html.LabelFor(x => x.NewUser.Email)
    @Html.TextBoxFor(x => x.NewUser.Email)
        </div>
    <div class="inputDiv">
    @Html.LabelFor(x => x.NewUser.Password)
    @Html.TextBoxFor(x => x.NewUser.Password)
        </div>
    <input type ="submit" value="submit"/>
}


<h3>Nouns</h3>
@using(Html.BeginForm("ModifyNouns", "Admin"))
{
    for (int i = 0; i < Model.Nouns.Count; i++)
    {
        <div class="inputDiv">
            @Html.TextBoxFor(x => x.Nouns[i].Word)
        </div>
    }
}


<h3>Adjectives</h3>
@using(Html.BeginForm("ModifyAdjectives", "Admin"))
{
    for(int i = 0; i < Model.Adjectives.Count; i++)
    {
        <div class="inputDiv">
           @Html.TextBoxFor(x => x.Adjectives[i].Word)
        </div>
    }
}
    </div>
