@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<div id = "MainBox">
    <img src = "content/images/logo.png" alt = "Fluffy Link"/>
        @if(Model.HappyLink == null)
        {
            using(@Html.BeginForm("GenerateLink", "Home", FormMethod.Post))
            {
                @Html.TextAreaFor(x => x.OriginalLink, new { @class = "happyTextInput"})
                <input class="genButton" type="submit" value="Generate"/>
            }
        }
        else
        {
            var url = @Request.Url.GetLeftPart(UriPartial.Authority) + '/' + @Model.HappyLink;
            <p id="HappyLink">Happy Link: <a href ="@url">@url</a></p>
            @Html.ActionLink("Make Another One!", "Index", "Home")
        }
</div>