@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<div id = "MainBox">
    <h1>Happy Fun Link</h1>
        @if(Model.HappyLink == null)
        {
            using(@Html.BeginForm("GenerateLink", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.OriginalLink, new { @class = "happyTextInput"})
                <input class="genButton" type="submit" value="Generate Happy Fun Link"/>
            }
        }
        else
        {
            var url = @Request.Url.GetLeftPart(UriPartial.Authority) + '/' + @Model.HappyLink;
            <p id="HappyLink">Happy Link: <a href ="@url">@url</a></p>
        }
</div>