@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<div id = "MainBox">
    <div class="logoWrapper">
        <img id="fluffyLogo" src = "@Url.Content("~/content/images/Logo.png")" alt = "Fluffy Link"/>
        </div>
    @if(Model.HappyLink == null)
    {
        using(@Html.BeginForm("GenerateLink", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.OriginalLink, new { @class = "happyTextInput", @placeholder="Enter boring url here..."})
            <input class="genButton" type="submit" value="Make it Fluffy!"/>
        }
    }
    else
    {
        var url = @Request.Url.GetLeftPart(UriPartial.Authority) + '/' + @Model.HappyLink;
        <p id="HappyLink"><a href ="@url">@url.Replace("http://", "")</a></p>
		
        @Html.ActionLink("Make Another One!", "Index", "Home")
		<input type="button" id="copy" name="copy" value="Copy to Clipboard" />


	}
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/CustomScripts/HomepageScripts.js")"></script>
