@model HappyFunLink.Models.Home.LinkModel
@{
    ViewBag.Title = "Happy Fun Link";
}

<div id = "MainBox">
    @if(Model.HappyLink == null)
    {
        using(@Html.BeginForm("GenerateLink", "Home", FormMethod.Post))
        {
            <div class="row">
                <div class="span4"></div>
                <div class="span4 fluffyinput">
                    @Html.TextBoxFor(x => x.OriginalLink, new { @class = "input-xlarge", @placeholder="Enter boring url here..."})
                </div>
                <div class="span4"></div>
            </div>
            <div class="row">
                <div class="span4"></div>
                <div class="span4 fluffybutton">
                    <input type="submit" class="btn btn-large btn-primary" value="Make it Fluffy!"/>
                </div>
                <div class="span4"></div>
            </div>
        }
    }
    else
    {
         <div class="row">
                <div class="span4"></div>
             <div class="span4">
                 @{
                     var url = @Request.Url.GetLeftPart(UriPartial.Authority) + '/' + @Model.HappyLink;
                 }
                 <p id="HappyLink"><a href ="@url">@url.Replace("http://", "")</a></p>
             </div>
                <div class="span4"></div>
            </div>
            <div class="row">
                <div class="span4"></div>
                <div class="span4 fluffybutton">
                    @Html.ActionLink("Make Another One!", "Index", "Home")
                </div>
                <div class="span4"></div>
            </div>
    }
</div>
